# --- Python / Jupyter ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.ipython/
*.ipynb_checkpoints/

# --- Virtual Environments ---
.venv/
venv/
env/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/

# --- VS Code ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# --- OS Specific ---
.DS_Store
Thumbs.db

.env
app/iot_data.db
__pycache__/
*.pkl
